.BookingModal {
  position: fixed;
  z-index: 500;
  background-color: #ffffff;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-width: 0;
  padding: 20px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (min-width: 600px) {
  .BookingModal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
