.BookToggle {
  z-index: 100;
  position: fixed;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  width: 200px;
  opacity: 1;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  padding: 10px 0;
  text-transform: uppercase;
  background: #df4a4a;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  right: -80px;
  top: 70%;
  cursor: pointer;
}
.BookToggle:hover {
  transition: 0.3s ease;
  background-color: #ff7575;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
